$layout-color-border: #e9ecef !default;
$layout-color-background: #fdfdfd !default;
$layout-color-syntax-highlighting-background: #f8f9fa !default;
$layout-responsive-nav-cutoff: 768px !default;

$content-width:    800px !default;
$spacing-unit:     30px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

body {
  background-color: $layout-color-background;
  max-width: #{$content-width};
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * .5;
  padding-left: $spacing-unit * .5;
  margin-top: 1rem*5;

  z-index: 1;

  /* 
  @media screen and (min-width: $on-large) {
    max-width: #{$content-width};
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
  */
}
body #site-footer {
    .container {
      max-width: unset;
      max-width: 1000px;
    }
}

#nav-header {
  border-top: 5px solid !important;
  border-bottom: 1px solid $layout-color-border !important;
  background-color: #f5f5f5;
}

#nav-container {
  height: 3.5rem;
}

#nav-menu-container {
  @media (max-width: $layout-responsive-nav-cutoff - 1) {
    position: absolute;
    z-index: 100;
    top: 0.4375rem;
    right: 1rem;
    border: 1px solid $layout-color-border;
    border-radius: .25rem;
    background-color: #f5f5f5;;
  }
}

#nav-trigger:checked ~ #nav-menu {
  display: block !important;
}

#content {
  h1, h2, h3, h4 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  blockquote {
    border-left: 4px solid $layout-color-border;
    padding-left: 1rem;
    font-style: italic
  }
  .footnotes {
    text-align: left;
  }
}

#rss-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(134, 142, 150)' d='M119.9,336.1c-30.8,0-55.9,25.1-55.9,55.8c0,30.8,25.1,55.6,55.9,55.6c30.9,0,55.9-24.9,55.9-55.6,C175.8,361.2,150.8,336.1,119.9,336.1z'/%3E%3Cpath fill='rgb(134, 142, 150)' d='M64,192v79.9c48,0,94.1,14.2,128,48.1c33.9,33.9,48,79.9,48,128h80C320,308.1,204,192,64,192z'/%3E%3Cpath fill='rgb(134, 142, 150)' d='M64,64v79.9c171,0,303.9,133,303.9,304.1H448C448,236.3,276,64,64,64z'/%3E%3C/svg%3E")
}

#site-footer {
  border-top: 1px solid $layout-color-border;
  background-color: #f5f5f5;

  .container {
    width: 100%;
  }
}

.highlight pre {
  border: 1px solid $layout-color-border;
  border-radius: .25rem;
  background-color: $layout-color-syntax-highlighting-background;
  padding: 0.75rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

#custom-header {
  /* max-width: calc(#{$content-width} - (#{$spacing-unit}));*/
  margin-right: auto;
  margin-left: auto;
  background: #f5f5f5;

  z-index: 2;

  .container-fluid {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
  }
}

#blank-before-content {
  margin-top: 1rem * 5;
  margin-bottom: 3; 
}

#about-section {
  margin-bottom: 2rem;
}

#team-section {
  margin-bottom: 2rem;
}

.card {
  border: 0px;
}

#objectives-section {
  margin-bottom: 2rem;
}

#publications-section {
  margin-bottom: 2rem;
}

//team members start



//team members end

//carousel

// Customize carousel styles

$carousel-control-color:             white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  black;
$carousel-dark-caption-color:        black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

.carousel-inner {
  .carousel-item {
    height: 400px; // Adjust as needed
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: fill; // Maintain aspect ratio while covering the entire container
  }
  border-radius: 15px;
}