<div id="about-section">
    <p>

    </p>
    <h2>About The Projects</h2>
    <br>
    <h3>LEGOFIT</h3>

    <p>
        The LEGOFIT project, funded by the European Commission under Horizon Europe with a timeframe spanning from 2023 to 2027, aims to revolutionize Energy Positive Housing. The project proposes innovative and scalable solutions for building construction and renovation within a holistic design platform. This platform integrates passive and active technologies, promoting smart information exchange through Building Information Modelling (BIM). Active and passive strategies, combined with smart management technologies, create climate-neutral, high-energy performance buildings. The project explores sustainable waste use during the building life cycle, enhancing the smart readiness of structures. Demonstrated in diverse demos, the focus is on residential sectors, ensuring professional involvement and training for a new generation of experts.
    </p>

    <p>
        Our research group at METU will lead Work Package 2 (W2) and two tasks. In Task 2.6, within WP2, we will develop multicriteria decision-making algorithms using Machine Learning for passive systems. This method optimizes active/passive technologies for energy-positive buildings, employing ML models for fast and precise performance predictions. The algorithm evolves, incorporating stakeholder inputs and enhancing decision-making by including diverse criteria. Simultaneously, Task 4.1, led by AUG, focuses on multi-purpose forecasting for improved control and automation. In this task, we will develop a digital twin integrated system, enabling short-term predictions. Leveraging machine learning and existing databases, it forecasts data crucial for control and optimization strategies, contributing to the establishment of the LEGOFIT Platform.
    </p>
    <br>
    <br>

    <h3>TUBITAK 1004 akıllı bina teknolojileri (SÜİT) P8</h3>
    <p>
        
        The SUIT project, funded by TUBITAK 1004 programme with a timeframe spanning from 2023 to 2026, aims to develop advanced technologies for sustainable cities. The primary objective of the project is to create advanced products and applications driven by scientific innovations in areas such as the Internet of Things, wireless and optical communication, electronic hardware, carbon-free/low-carbon energy production, grid management, electric vehicles, and smart and secure transportation, fostering mutual synergy. 
        Our research group at METU will lead to WP8 which is ‘Smart Building Technologies’. This workpackage aims to develop digital platforms that reduce building-related energy consumption and CO2 emissions at different spatial scales and test them in different regions. For this, artificial intelligence-based analysis and control algorithms, IoT-based performance monitoring, physics-based building energy simulations will be developed. 
        <a href="https://suit.metu.edu.tr/">Website. </a>

    </p>
    <br>
    <br>

    <h3>UP2030</h3>
    <p>
        
        The UP2030 project, funded by the Horizon Innovation Actions under Horizon Europe with a timeframe spanning from 2023 to 2026, aims to support cities in driving the socio-technical transitions required to meet their climate neutrality targets by leveraging urban planning and design. The project also aims to assist and advise city stakeholders and local authorities in integrating neutrality into their agendas through everyday actions and strategic decisions, utilizing an innovative methodology. 
        Our research group at METU will develop ‘AI powered toolset for the decarbonisation of buildings and transportation’ which is called as ‘UBEM/UBTEM: Urban Building/Transportation Energy Modeling’.  The developed tool is based on holistic approach that considers the integration of building energy performances, renewable energy integration and micro-mobility. The developed tool facilitates comprehensive decision-making in achieving carbon-neutral urban transformation by comprehensively addressing buildings, renewable energy, and micro-mobility at the urban scale, considering the impact of climate change, and retrofit strategies. 
        <a href="https://up2030-he.eu/">Website. </a>

    </p>
    <br>
    <br>

    <h3>UBEM</h3>
    <p>
        
        The UBEM project, funded by TUBITAK 1001 programme with a timeframe spanning from 2021 to 2023, aims to evaluate the impacts of climate change on building energy demand through Urban Building Energy Modeling (UBEM) and machine learning methods (ML). The developed tool is utilized to calculate heating energy consumption and IOD (indoor overheating degree) of buildings at the urban scale for 2020, 2050 and 2080.  The tool enables users to assess the energy performance of existing buildings considering climate change at the urban scale, explore potential enhancements (retrofit) in building energy performance and guide decision-makers towards more energy-efficient approaches.

    </p>
    <br>
</div>