<nav id="custom-header" class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">METU Urban Energy Transition and Sustainability Lab</a>
          
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#about-section">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#team-section">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#publications-section">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact-section">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
