<div id="publications-section">
    <h2>Publications</h2>
    <ul>
        <li>
            M. Han, I. Canli, J. Shah, X. Zhang, I. Dino, S. Kalkan, "Perspectives of machine learning and natural language processing on characterizing positive energy districts", Buildings, 14(2), 371, 2024.        </li>
        <li>
            Halaçlı, E.G., Canlı, İ., İşeri, O.K., Yavuz, F., Akgül, Ç.M., Kalkan, S. and Dino, I.G., 2023, November. A Novel Graph Neural Network for Zone-Level Urban-Scale Building Energy Use Estimation. In Proceedings of the 10th ACM International Conference on Systems for Energy-Efficient Buildings, Cities, and Transportation (pp. 169-176).
        </li>
        <li>
            Canli, I., Kalkan, S. and Gürsel Dino, İ., 2023. Useful Daylight Illuminance Prediction Under Data Imbalance in an Urban Context. In Proceedings of the 41st eCAADe Conference, Graz, Austria
        </li>
        <li>
            Duran, A., Işeri, O.K., Akgül, Ç., Kalkan, S. and Gürsel Dino, İ., 2022. Compiling open datasets to improve urban building energy models with occupancy and layout data. POST-CARBON, Proceedings of the 27th International Conference of the Association for Computer-Aided Architectural Design Research in Asia (CAADRIA) 2022, Volume 2, 669-678.
        </li>
    </ul>
</div>